/* 修改VPBadge标签位置为同标题同一水平线 */
.VPBadge {
  margin-top: unset !important;
  vertical-align: middle !important;
}

/* 修改文章中粗体样式 */
.VPDoc main strong {
  --num: 0;
  --deg: calc(var(--num) * 1deg);
  background: linear-gradient(120deg, hsl(var(--deg), 70%, 60%) 30%, hsl(calc(var(--deg) + 30deg), 70%, 60%));
  font-weight: bold;
  color: transparent;
  background-clip: text;
  animation: rotate 12s linear infinite;
  /* 添加文字轮廓 */
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

@keyframes rotate {
  from {
    --num: 0;
  }
  to {
    --num: 360;
  }
}

@property --num {
  syntax: '<number>';
  inherits: false;
  initial-value: 0;
}

/* 调整页面默认宽度,适配高分屏 */
:root {
  --vp-layout-max-width: 1920px;
}

.VPDoc:not(.has-sidebar) .container {
  max-width: 1584px !important;
}

.VPDoc:not(.has-sidebar) .content {
  max-width: 1264px !important;
}

.VPDoc.has-aside .content-container {
  max-width: 1168px !important;
}
